<configuration>
  <packageSources>
    <clear />
    <add key="LocalModernUI" value="C:\NuGetLocal" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="LocalModernUI">
      <package pattern="ModernUI.WPF.NET10" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>